.App {
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px;
  padding: 0px;
}

.App-link {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div, button {
  margin: .6vh;
  padding: .4vh;
}

.ui.grid>.row>.column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

hr {
  margin-top: -5vh;
  margin-bottom: 5vh;
}

body {
  background: #616161 !important;
}

.github-icon {
  padding-top: .5vh;
  padding-bottom: .5vh;
  display: inline-flex;
  margin-left: 25em;
  margin-top: 2vh;
}

.ui.menu {
  font-size: 1.1rem;
}

.FadeIn-enter {
  opacity: 0.01;
  transition: opacity .5s;

  &.FadeIn-enter-active {
    opacity: 1;
  }
}

.ui.card {
  justify-content: center !important;
  padding: .2vh !important;
  width: 100vh !important;
  margin-bottom: 1.5vh !important;
  border-radius: 0px !important;
  min-height: 53vh !important;
  max-height: 53vh !important;
  box-shadow: 1px 1px 14px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
  letter-spacing: .05rem;
  font-family: Lucida Grande;
}

#artist-search-header {
  font-size: larger;
  letter-spacing: .08rem;
}

#header-text {
  display: center;
  font-size: 5em;
  color: #282c34;
  font-family: Architects Daughter;
  padding: 2vh;
  width: 100%;
  margin-bottom: 3vh;
  color: white;
  text-shadow:
  2px 2px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  opacity: .85;
  filter: drop-shadow(0px 11px 35px #d4d4d5);
}

.ui.loader:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  animation: loader .6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #dcdcdc transparent transparent !important;
  border-style: solid;
  border-width: .2em;
  box-shadow: 1px 22px 200px 1px #d4d4d5 !important
}

#logo-header {
  padding: 5px;
  color: black;
  outline-color: black;
  opacity: .75;
}

.box{
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
  margin:25px;
  width:150px;
  height:50px;
  border-color: white;
  float:center;
}

.box2{
  width:300px;
  border-width: .5px .8px 1.8px 2px;
  border-radius:4% 95% 4% 95%/95% 4% 92% 5%;
}
.evenboxinner{
  margin:1px;
  margin-bottom: 1px;
  padding:0.2 10px;
  font-family: Architects Daughter;
  font-size: 1.3em;
  letter-spacing: .15em;
  font-weight: 200;
  float:centered;
}

.ui.icon.input>i.icon {
  opacity: .4 !important;
  position: fixed !important;
}

.search-result-header {
  font-size: 1.22em;
  font-weight: bolder;
  margin-top: 0;
}

iframe[Attributes Style] {
  display: flex !important;
}

.main-title {
  padding-bottom: 0px;
}


/* =============================================================== */
